.btn-dark,
.btn-light {
  padding: 15px 50px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.btn-dark {
  background-color: #f2075d;
  color: #ffffff;
}

.btn-light {
  background-color: #ffffff;
  color: #f2075d;
}

.btn-dark:hover,
.btn-light:hover {
  cursor: pointer;
}
