.btn-dark,
.btn-light {
  padding: 15px 50px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.btn-dark {
  background-color: #f2075d;
  color: #ffffff;
}

.btn-light {
  background-color: #ffffff;
  color: #f2075d;
}

.btn-dark:hover,
.btn-light:hover {
  cursor: pointer;
}

.snackbar {
  min-width: 20vw;
  background-color: #ffff;
  color: #000;
  text-align: center;
  border-radius: 2px;
  padding: 20px;
  position: fixed;
  z-index: 1;
  left: 95%;
  transform: translateX(-100%);
  bottom: 2vh;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  @-webkit-keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 2vh;
      opacity: 1;
    }
  }
  @keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 2vh;
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeout {
    from {
      bottom: 2vh;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }
  @keyframes fadeout {
    from {
      bottom: 2vh;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }
}
