.heading-container {
  margin-left: 20%;
  padding-top: 12%;
  margin-bottom: 1%;
  .header-p {
    font-size: 20px;
    color: #ffffff;
  }
  .h2-light,
  .h2-dark {
    font-size: 34px;
    font-weight: 600;
    line-height: 1.2;
  }
  .h2-light {
    color: #ffffff;
  }
  .h2-dark {
    color: #e9e9e9;
  }
}
