.card-container {
  height: 375px;
  width: 280px;
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .icon-links {
    display: flex;
    justify-content: space-between;

    .link {
      width: 25px;
      height: 25px;
    }
  }
}
